.classpath
.project
WebContent/WEB-INF/classes/**/*
*~
target/*
.settings/*
.metadata/*
opt/*
logs/*
.metadata/*
.gitignore
bo-ear/target/*
*/MANIFEST.MF
.springbeans
*.idea
*.iml
src/main/resources/git.properties
*atlassian*
/target
/out
